{% load staticfiles %}
<!-- 
<img src="{% static 'polls/pieplot.png' %}" alt="mY image"
height='500' />
 -->
 {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">
<center>
 {{ fig_html|safe }}
 </center>
<!-- <script type="text/javascript">
	mpld3.draw_figure({{ fig_html }})
	var graph="{{ my_data }}";
	mpld3.draw_figure(graph);

</script> -->
<br>
<a href="{% url 'polls:piechart_input' %}"> Fill input </a><br> <br>
<a href="{% url 'polls:graph_type' %}"> Select graph type </a>
